body {
	padding-top: 50px;
}
.side-pad {
	padding-left: 15px;
	padding-right: 15px;
}
.show-details, .show-mice, .select-mouse {
	cursor: pointer;
}
.active-details {
	border-color: limegreen;
}
#details_container {
	border-left: 3px solid lightblue;
}